extends ../layout
block content
	div.container
		<div class="alert hide" role="alert" id="message"></div>
		
		link(rel='stylesheet', href='/dropzone/css/basic.css')
		link(rel='stylesheet', href='/dropzone/css/dropzone.css')
	
		div#file_upload_part(class="modal fade",role="dialog")
			div.modal-dialog
				div.modal-content
					div.modal-header
						button(type="button" ,class="close" , data-dismiss="modal")
							span(aria-hidden="true")&times;
							span.sr-only Close
						h2.modal-title 把文件拖到浏览器里面上传
					div.modal-body
						div(class="btn-group",data-toggle="buttons")
							
						button(type='button', class='btn btn-danger', id='uploadButton', style='margin-bottom:6px;width: 100%;font-weight: bold;height: 4em;') 点击这个按钮上传
							span(class='glyphicon glyphicon-ok-upload')
						
						form#upyunDropzone(class='dropzone dz-clickable',action='http://v0.api.upyun.com/nimysan')
							div(class='dz-default dz-message')
								span 把文件拖入到这里上传
		
		div#studio_part(class="panel panel-info")
			div.panel-heading
				h2.panel-title 影楼信息更新
			div.panel-body
				h2 维护的影楼信息
				table(class='table table-bordered')
					tr
						th 影楼名称
						th 影楼网址
						th 影楼地址
						th 影楼联系人
						th 影楼联系电话
						th 影楼联系电话(手机)
					each studio in studios
						tr.studio-detail(studio_id='#{studio._id}')
							td.studio-name= studio.name
							td.studio-link= studio.link
							td= studio.address
							td= studio.contactName
							td= studio.contactDeskPhone
							td= studio.contactMobilePhone
								
				div(role='form', id='studio_form')
					div.input-group
						label(for='name',style='display:inline;') 影楼名称
						input.form-control(id='name', type='text')
					div.input-group
						label(for='link') 影楼网址
						input.form-control(id='link', type='text')
					div.input-group
						label(for='address') 影楼地址
						input.form-control(id='address', type='text')
					div.input-group
						label(for='contactName') 影楼联系人
						input.form-control(id='contactName', type='text')
					div.input-group
						label(for='contactDeskPhone') 影楼联系电话
						input.form-control(id='contactDeskPhone', type='text')
					div.input-group
						label(for='contactMobilePhone') 影楼联系电话(手机)
						input.form-control(id='contactMobilePhone', type='text')
					div.input-group
						button(class='btn btn-info',style='margin-top:6px',id='studio_submit', type='submit') 提交
							
		div#user_part(class="panel panel-info")
			div.panel-heading
				h2.panel-title 用户创建和管理
			div.panel-body
				h2 新增用户
				div(role='form', class="new_user_form")
					div#g_form_id(type='hidden') 
						div.form-group(class='has-feedback')
							div.input-group
								span(class='glyphicon glyphicon-user input-group-addon')
								input#u_login_name(type='text', class='form-control',placeholder='给用户选择一个登录的名字，注意是登录名字',value='')
						div.form-group(class='has-feedback')
							div.input-group
								span(class='glyphicon glyphicon-cloud input-group-addon')
								input#u_image_path(type='text', class='form-control',placeholder='默认用用户登录名。用户在云空间拥有的路径，用户上传图片用',value='')
								
						div.form-group(class='has-feedback')
							each studio in studios
								button(data-toggle="button", class="btn btn-small btn-warn studio-button", studio_id = '#{studio._id}', style='margin:5px 20px;') #{studio.name}
								
						button#u_create(type='button', class='btn btn-primary') 创建
							span(class='glyphicon glyphicon-ok-sign')
						button#u_create_manager(type='button', class='btn btn-danger') 创建管理者账户
							span(class='glyphicon glyphicon-ok-sign')
						button#u_upload_files(type='button', class='btn btn-info') 上传图片
							span(class='glyphicon glyphicon-ok-sign')
				
				h2 所管理的用户
				table(class='table table-bordered')
					tr
						td 用户名
						td 用户类型
						td 用户图片空间名字
						td 用户创建时间
						td 已付费
					each item in users
						tr.user_detail(user_id='#{item._id}')
							td.u-login-id #{item.loginId}
							- if (item.roles && item.roles.length == 1 && item.roles[0] == '54917369df4773fbf217e7cf')
								td.u-role 管理员
							- else
								td.u-role 普通用户
								
							td.u-image-path #{item.imagePath}
							td #{item.date.toDateString()}
							td.u-payed #{item.payed}
							
	script(src='/js/admin.js')
	script(src='http://cdn.bootcss.com/crypto-js/3.1.2/components/core-min.js')
	script(src='http://cdn.bootcss.com/crypto-js/3.1.2/components/md5.js')				
	script(src='/dropzone/dropzone.upyun.min.js')
	script(src='/js/fileupload.js')

			