extends ../layout
block content
	div.container(class='container-body')
		link(rel='stylesheet', href='/dropzone/css/basic.css')
		link(rel='stylesheet', href='/dropzone/css/dropzone.css')
		ul(class="nav nav-tabs", role="tablist")
			-if (user && user.loginId === 'supervisor')
				li(role="presentation")
					a(href='#tab_passwordmanager',role="tab" data-toggle="tab", aria-controls="tab_passwordmanager") 更改用户密码
			li(role="presentation")
				a(href='#tab_studiomanager',role="tab" data-toggle="tab", aria-controls="tab_studiomanager") 影楼信息维护
			li.active(id='gallery',role="presentation")
				a(href='#tab_usermanager',role="tab" data-toggle="tab", aria-controls="tab_usermanager") 用户信息管理
		
		div.tab-content
			div#tab_passwordmanager(role="tabpanel" class="tab-pane fade")
				div#user_passpord_part(class="panel panel-info")
					div.panel-heading
						h2.panel-title 更改用户密码
					div.panel-body
						h2 更改用户密码
						div#user_password_form
			div#tab_studiomanager(role="tabpanel" class="tab-pane fade")
				div#studio_part(class="panel panel-info")
					div.panel-heading
						h2.panel-title 影楼信息更新
					div.panel-body
						div#studio_table_form
						
			div#tab_usermanager(role="tabpanel" class="tab-pane fade in active")
				div#file_upload_part(class="modal fade",role="dialog")
					div.modal-dialog
						div.modal-content
							div.modal-header
								button(type="button" ,class="close" , data-dismiss="modal")
									span(aria-hidden="true")&times;
									span.sr-only Close
								h2.modal-title 把文件拖到浏览器里面上传
							div.modal-body
								button(type='button', class='btn btn-danger', id='uploadButton', style='margin-bottom:6px;width: 100%;font-weight: bold;height: 4em;') 点击这个按钮上传
		
									span(class='glyphicon glyphicon-ok-upload')
								
								form#upyunDropzone(class='dropzone dz-clickable',action='http://v0.api.upyun.com/nimysan')
									div(class='dz-default dz-message')
										span 把文件拖入到这里上传
				
				div#user_part(class="panel panel-info")
					div.panel-heading
						h2.panel-title 用户信息管理
					div.panel-body
						h2 新增用户
						div(role='form', class="new_user_form")
							form.form-horizontal(id='user_form')
								input#_id(type='hidden')
								div.form-group
									label(for="loginId" class="col-sm-2 control-label") 用户名
									div.col-sm-10
										input#loginId(type='text', class='form-control',placeholder='给用户选择一个登录的名字，注意是登录名字',value='', data-required='true', data-pattern='^[a-zA-Z0-9_]{4,36}$')
										span#messages
								div.form-group
									label(for="realName" class="col-sm-2 control-label") 用户显示名称
									div.col-sm-10
										input#realName(type='text', class='form-control',placeholder='用户的真实姓名，可以只需要填写比如：刘先生 方便作为相册的标识',value='')
										span#messages
								div.form-group
									label(for="mobile" class="col-sm-2 control-label") 手机号码
									div.col-sm-10
										input#mobile(type='text', class='form-control',placeholder='请务必输入正确的用户手机号，我们会以用户手机号的后六位作为用户初始密码',value='',data-required='true', data-pattern='^1[3|4|5|8][0-9]\\d{8}$')
										span#messages
								div.form-group
									label(for="email" class="col-sm-2 control-label") 电子邮件
									div.col-sm-10
										input#email(type='email', class='form-control',placeholder='如果用户具有，请填写用户的电子邮箱地址',value='', data-pattern='^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+$')
										span#messages
								div.form-group
									label(for="desc" class="col-sm-2 control-label")用户详细
									div.col-sm-10
										textarea#desc(type='text', rows='3', class='form-control',placeholder='关于对此用户的一些描述',value='')
										span#messages
								div.form-group
									label(for="fromStudio" class="col-sm-2 control-label") 来自于影楼
									div.col-sm-10
										select#fromStudio.form-control
											option(value='')
											each studio in studios
												-if (studio)
													option(value='#{studio._id}')= studio.name
								div.form-group
									div(class="col-sm-offset-2 col-sm-10")
										div.checkbox
											label
												input(type='checkbox',id='selfManage')
												允许用户自己上传和管理照片
								div.form-group
									div(class="col-sm-offset-2 col-sm-10")
										button#u_create(type='button', class='btn btn-primary', style='margin-right: 20px;') 创建普通用户
											span(class='glyphicon glyphicon-ok-sign')
										if (user && user.loginId == 'supervisor')
											button#u_create_manager(type='button', class='btn btn-danger', style='margin-right: 20px;') 创建管理者账户
												span(class='glyphicon glyphicon-ok-sign')
										button#u_reset(type='button', class='btn btn-primary', style='margin-right: 20px;') 重置
											span(class='glyphicon glyphicon-pencil')
						
						h2 所管理的用户
						table(class='table table-bordered table-hovered')
							tr
								th 用户名
								th 用户类型
								th 用户图片空间名字
								th 来自于（影楼）
								th 用户创建时间
								th 已付费
								th 操作
							each item in users
								tr.user_detail(user_id='#{item._id}')
									td.u-login-id
										a(href='/admin/resource/#{item.loginId}') #{item.loginId}
									- if (item.roles && item.roles.length == 1 && item.roles[0] == 'manager')
										td.u-role 
											span(class='glyphicon glyphicon-tree-conifer') 管理员
									- else
										td.u-role 
											span(class='glyphicon glyphicon-send') 普通用户
										
									td.u-image-path 
										a(href='/admin/fileupload/#{item.imagePath}',target='_blank') 管理用户照片
									- if (item.fromStudio )
										td.u-studio(studio_id='#{item.fromStudio._id}') 
											a(href='#{item.fromStudio.link}',target='_blank') #{item.fromStudio.name}
									- else
										td &nbsp;
									td #{item.date.getFullYear()+'/'+(item.date.getMonth()+1)+'/'+item.date.getDate()}
									- if (item.payed)
										td.u-payed 
											span(class='glyphicon glyphicon-ok-circle')
									- else
										td.u-payed 
											span(class='glyphicon glyphicon-remove-circle')
									td
										button.delete-user-button(type='button', data-id='#{item.loginId}', class='btn btn-danger', style='margin-right: 20px;') 
											span(class='glyphicon glyphicon-edit')
									
				
			
	script(src='/js/admin.js')
	script(src='http://cdn.bootcss.com/crypto-js/3.1.2/components/core-min.js')
	script(src='http://cdn.bootcss.com/crypto-js/3.1.2/components/md5.js')				
	script(src='/dropzone/dropzone.upyun.min.js')
	script(src='/js/fileupload.js')

			