//- index.jade
//- This file defines the view of this app.
extends layout
block banner
	div#carousel-banner(class="carousel slide", data-ride="carousel")
		ol(class="carousel-indicators")
			li(data-target="#carousel-banner", data-slide-to="0", class="active")
			li(data-target="#carousel-banner", data-slide-to="1")
			li(data-target="#carousel-banner", data-slide-to="2")
		div(class="carousel-inner", role="listbox")
			div(class='item active')
				img(src='/img/banner/union.png', alt='...',style='height:330px')
				div(class='carousel-caption')
			div(class='item')
				img(src='/img/banner/banner.jpg', alt='...',style='height:330px')
				div(class='carousel-caption')
			div(class='item')
				img(src='/img/banner/cdn_banner.jpg', alt='...', style='height:330px')
				div(class='carousel-caption')
		a(class="left carousel-control", href="#carousel-banner", role="button", data-slide="prev")
			span(class="glyphicon glyphicon-chevron-left", aria-hidden="true")
			span.sr-only Previous
		a(class="right carousel-control", href="#carousel-banner", role="button", data-slide="next")
			span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
			span.sr-only Next
			
block content
	div.container(class='container-body')
		if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
			.navigation.well-sm#pagination
				ul.pager
					if paginate.hasPreviousPages
						li.previous
							a(href=paginate.href(true)).prev
								|  上一页
							i.fa.fa-arrow-circle-left
					if paginate.hasNextPages(pageCount)
						li.next
							a(href=paginate.href()).next
								| 浏览更多相册
							i.fa.fa-arrow-circle-right
		
		div.row
			each item in galleries
				dir.row
					div.thumbnail
						div.row
							div.col-md-4(class='cos-sm-6')
								a(href='/gallery/#{item._id}')
									img.gallery_thumbnail(src='#{item.images[0]}!thumbnail',alt='...')
							div.col-md-8(class='cos-sm-6')
								div.caption
									div.row
										div(class='cos-sm-8 col-md-10')
											h1= item.title
											p 被欣赏 
												span(class="label label-success") #{item.meta.accesses == null ? 0  : item.meta.accesses}
											p= item.desc
											-if (item._creator.studios && item._creator.studios.length > 0)
												- var studio=item._creator.studios[0]
												h5 来自 
													a(href='#{studio.link}',target="_blank") #{studio.name}
											-else
												h5  没有提供影楼信息
												
											h6  创建时间 #{item.date.getFullYear()+'/'+(item.date.getMonth()+1)+'/'+item.date.getDate()}
											
											div
												button(class='btn btn-success thumbs-up', gallery_id='#{item._id}')
													span(class='glyphicon glyphicon-thumbs-up')
													-if (item.meta && item.meta.votes > 0)
														span.up-vote-number #{item.meta.votes}
													-else
														span.up-vote-number 0
												
										div(class='cos-sm-4 col-md-2')
											h4 扫一扫
											div.row(style='text-align:left;')
												img.qr(gallery_id = '#{item._id}', class='gallary_qr_code')

		script(src='/js/yt_portal.js')

