//- index.jade
//- This file defines the view of this app.
extends layout
block content
	div.container(class='container-body')
		if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
			.navigation.well-sm#pagination
				ul.pager
					if paginate.hasPreviousPages
						li.previous
							a(href=paginate.href(true)).prev
								|  上一页
							i.fa.fa-arrow-circle-left
					if paginate.hasNextPages(pageCount)
						li.next
							a(href=paginate.href()).next
								| 下一页
							i.fa.fa-arrow-circle-right
					
		each item in galleries
			div.row
				div(class='cos-sm-12 col-md-12')
					div.thumbnail
						a(href='/gallery/#{item._id}')
							img.gallery_thumbnail(src='#{item.images[0]}',alt='...')
						div.caption
							div.row
								div(class='cos-sm-6 col-md-9')
									h3= item.title
									p= item.desc
								div(class='cos-sm-6 col-md-3')
									img(src='http://qr.liantu.com/api.php?bg=ffffff&fg=000000&text=http://www.marryy.com/gallery/#{item._id}', class='gallary_qr_code')
		



